<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxFlex fxLayoutAlign="start">
    <a class="navbar-brand" routerLink="#">{{ appComponent.title }}</a>
  </div>
  <div fxFlex fxLayoutAlign="start" fxHide.xs>
    <ul fxLayout fxLayoutGap="35px" class="navigation-items">
      <li>
        <a routerLink="/">Home</a>
      </li>
      <li>
        <a routerLink="/users">Users</a>
      </li>
      <li>
        <a routerLink="/meals">Meals</a>
      </li>
    </ul>
  </div>
  <div fxFlex fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li *ngIf="!auth.isUserLoggedIn()">
        <a routerLink="/login">Login</a>
      </li>
      <li *ngIf="auth.isUserLoggedIn()">
        <button mat-button [matMenuTriggerFor]="contextMenu">{{auth.getLoggedInUserName()}}</button>
      </li>
    </ul>
  </div>
</mat-toolbar>
<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-item="user">
    <button mat-menu-item>Profile</button>
    <button mat-menu-item (click)="auth.logout()">Logout</button>
  </ng-template>
</mat-menu>
