<form [formGroup]="crudForm" (ngSubmit)="submitCrudForm()" novalidate fxLayout='column' class="crud-dialog-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{crudTitle}}</mat-card-title>
      <mat-card-subtitle *ngIf="crudSubTitle">{{crudSubTitle}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="crudDialogErrors.length > 0" class="crud-dialog-error-section">
        Errors:
        <mat-list dense class="crud-dialog-error-list">
          <mat-list-item
            *ngFor="let err of crudDialogErrors"
            class="crud-dialog-error-list-item">• {{err}}
          </mat-list-item>
        </mat-list>
      </div>

      <mat-form-field *ngFor="let fld of crudDialogConfig.fields"
                      [ngClass]=fld.getInputClass()
      >
        <input matInput formControlName="{{fld.id}}"
               type="{{fld.type}}"
               placeholder="{{fld.placeholder}}"
               autocomplete="new-name">
        <ng-container *ngFor="let val of fld.validation">
          <ng-container *ngFor="let err of val.errors">
            <mat-error *ngIf="handleError(fld.id, err.errorName)">{{err.errorMessage}}</mat-error>
          </ng-container>
        </ng-container>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <div class="full-wrapper button-wrapper">
        <button mat-raised-button color="warn" type="submit"
                [hidden]="this.crudDialogConfig.crudMode === CRUD_MODES.Delete"
                [disabled]="!crudForm.valid">Submit
        </button>
        <button mat-raised-button color="warn" type="button"
                (click)="submitCrudForm()"
                [hidden]="this.crudDialogConfig.crudMode !== CRUD_MODES.Delete">Delete
        </button>
        <button mat-flat-button color="grey" type="button" (click)="cancelDialog()">Cancel</button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
