<mat-card>
  <mat-card-header>
    <mat-card-title>{{config.listTitle}}</mat-card-title>
  </mat-card-header>

  <mat-card-content fxLayout='column'>
    <div *ngIf="config.getFilters().length > 0" fxLayout="row wrap" >
      <mat-form-field *ngFor="let filtr of config.getFilters()">
        <ng-container *ngIf="filtr.inputType === 'select'">
          <!--<mat-label>Filter by {{filtr.name}}</mat-label>-->
          <mat-select
            placeholder="Filter by {{filtr.name}}"
            (valueChange)="applyFilter(filtr.id, $event)"
            value="{{config.getFilterValue(filtr.id)}}"
          >
            <mat-option *ngFor="let option of filtr.optionsData | keyvalue" value="{{option.key}}">
              {{option.value}}
            </mat-option>
          </mat-select>

        </ng-container>
        <ng-container *ngIf="filtr.inputType !== 'select'">
          <input matInput
                 (change)="applyFilter(filtr.id, $event.target['value'])"
                 type="{{filtr.inputType}}"
                 placeholder="Filter by {{filtr.name}}"
                 [value]="config.getFilterValue(filtr.id)"
          >
        </ng-container>
      </mat-form-field>
    </div>
    <table mat-table
           [dataSource]="dataSource" matSort
           class="mat-elevation-z8"
           fxFlex>

      <ng-container *ngFor="let colmn of config.columns" matColumnDef="{{colmn.id}}">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{colmn.name}}</th>
        <td mat-cell *matCellDef="let element">{{colmn.formatted(element[colmn.id])}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="config.getColumnIds(); sticky: true"></tr>

      <tr tabindex="999" mat-row *matRowDef="let row; columns: config.getColumnIds(); let entry"
          (contextmenu)="onContextMenu($event, row)"
          (dblclick)="onContextMenuEditItem(row)"
          [ngClass]=config.getEntryClass(entry)
      ></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="mat-elevation-z8"></mat-paginator>
  </mat-card-content>
  <mat-card-actions fxLayout="row">
    <button mat-raised-button (click)="openCrudDialog(crudModes.Create,null)">Add {{config.itemTitle}}</button>
    <div fxFlex align="end">
      <button mat-raised-button aria-label="Refresh data" (click)="onRefreshButtonClick()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
<div style="visibility: hidden; position: fixed"
     [style.left]="contextMenuPosition.x"
     [style.top]="contextMenuPosition.y"
     [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-item="data">
    <button mat-menu-item (click)="onContextMenuEditItem(item)">Edit {{config.itemTitle}}</button>
    <button mat-menu-item (click)="onContextMenuDeleteItem(item)">Delete {{config.itemTitle}}</button>
  </ng-template>
</mat-menu>
<ng-template #errorDialog>
  <h2 matDialogTitle>{{errorDialogCaption}}</h2>
  <p matDialogContent>{{errorDialogContent}}</p>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose>Dismiss</button>
  </mat-dialog-actions>
</ng-template>
